$breakpoint: 1300px;

.about-container {
  width: min(95vw, 1325px);
  margin-top: 125px;
  margin-inline: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;

  .about-wrapper {
    display: flex;
    column-gap: 3em;
    article {
      display: flex;
      flex-direction: column;
      width: 40%;
      h1 {
        text-align: left;
        font-size: 5.5em;
        line-height: 1em;
      }
    }
    figure {
      width: 600px;
      margin: 0 auto;
      img {
        scale: 120%;
        translate: 0 -7%;
      }
    }
  }

  .company-profile {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 5em;
    width: 80%;

    article {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .text-content {
        text-align: right;
      }
    }

    article:nth-child(odd) {
      flex-direction: row-reverse;
      .text-content {
        text-align: left;
      }
    }

    figure {
      overflow: hidden;
      width: 350px;
      aspect-ratio: 1/1;
      border-radius: 25px;
      // margin: 0 auto;

      img {
        width: 150%;
      }
    }
  }

  h2 {
    font-size: 2.5rem;
    margin: 0 auto;
  }

  p {
    font-size: 1.6em;
  }

  .image-container {
    margin-top: 3em;
    align-self: center;
    position: relative;
    overflow: hidden;
    height: 400px;
    width: 700px;
    border-radius: 2em;

    img {
      position: absolute;
      bottom: 0;
      scale: 103%;
      width: 100%;
    }
  }
}
