.soon-container {
  margin-top: 10em;
  display: flex;

  section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 80vh;
    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        margin: 0 auto;
      }
      i {
        font-size: 8em;
        color: #f3b239;
      }
    }

    p {
      font-size: 1.6em;
      text-align: right;
      margin: 0;
    }
    justify-content: center;
  }
}
