.card-wrapper {
  .card {
    position: relative;
    flex: 1;
    height: 400px;
    min-width: 300px;
    max-width: 400px;
    background-color: green;
    border-radius: 1.5em;
    overflow: hidden;
    cursor: pointer;

    h2 {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 5em;
      translate: -50% -50%;
      white-space: nowrap;
      color: white;
      transition: 400ms ease-in-out;
      z-index: 1;
    }

    p {
      position: absolute;
      top: 120%;
      left: 50%;
      color: white;
      translate: -50% -50%;
      font-size: 2em;
      width: 100%;
      margin-left: 1em;
      z-index: 1;
      transition: 400ms ease-in-out;
      .card-link {
        position: absolute;
        font-size: 1.5rem;
        transition: 400ms ease-in-out;
        top: 150%;
        right: 10%;
        color: white;
        text-decoration: none;
      }
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: 400ms ease-in-out;
    }

    &:hover {
      p {
        top: 60%;
      }
      h2 {
        top: 2em;
        opacity: 1;
        z-index: 1;
      }
      img {
        filter: brightness(20%);
      }
    }
  }
}
